/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

/* Importing another css files */
@import url(color.css);


/* Default settings */
* {
    /* margin: 0;
    padding: 0; */
    transition: .3s all ease-in-out;
}

body {
    font-family: 'kurale';
}

.font-kurale {
    font-family: 'kurale';
}