{% extends 'base.html' %}
{% block content %}
<div class="bg-white">
    <main class="py-10 px-8 mt-10">

        <h1 class="text-3xl font-bold text-center mb-6">Categories</h1>
        <div class="max-w-6xl mx-auto mt-8 grid md:grid-cols-3 gap-6">
            {% for category in categories %}
            <a href="/products/" class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col h-full">
                <img src="{{ category.image.url }}" class="w-full h-56 object-cover">
                <div class="p-6 flex-grow">
                    <h3 class="text-xl font-semibold mt-2">{{ category.name }}</h3>
                    <p class="text-gray-600 mt-2 text-sm">{{ category.description }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}