<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>Login - TechForge</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://accounts.google.com/gsi/client" async></script>
</head>
<body>
    <h1 class="mt-8 text-left px-8 text-4xl font-bold tracking-tight text-blue-500">TechForge</h1>

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-2 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
            
            {% if error %}
            <p class="text-red-500 text-center">{{ error }}</p>
            {% endif %}
        </div>
        
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" method="POST">
                {% csrf_token %}
                <div>
                    <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
                    <div class="mt-2">
                        <input type="email" name="username" id="username" autocomplete="username" required class="block w-full border-2 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>
                
                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
                        <div class="text-sm">
                            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <input type="password" name="password" id="password" autocomplete="current-password" required class="block w-full border-2 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </div>
                </div>
        
                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</button>
                </div>
            </form>
            
            
            <div id="g_id_onload"
                    data-client_id="171794659885-iicthe1m9deugrpal3v43laajri7pb63.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="handleCredentialResponse"
                    data-login_url="http://127.0.0.1:8000/auth-receiver"
                    data-itp_support="true"
            >
            </div>
            <div class="g_id_signin mt-4"
                    data-type="standard"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left"
            ></div>

            <p class="mt-10 text-center text-sm/6 text-gray-500">
                Don't have an account?
                <a href="/signup/" class="font-semibold text-indigo-600 hover:text-indigo-500">Sign up</a>
            </p>
        </div>
    </div>

    <script>
        function handleCredentialResponse(response) {
            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch("/auth-receiver/", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ token: googleToken }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Ошибка сервера: ${response.status}`);
                }
                return response.json();
            })
            .then(data => console.log("Успех:", data))
            .catch(error => console.error("Ошибка:", error));

        }
    </script>    
</body>
</html>
