{% extends 'base.html' %}

{% block content %}
<section class="py-12 bg-gray-100">
    <div class="container mx-auto px-4">
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <h1 class="text-3xl font-bold text-gray-900">{{ category.name }}</h1>
            <p class="mt-4 text-xl text-gray-700">{{ category.description }}</p>
            <div class="mt-6">
                <h2 class="text-2xl text-gray-900 font-bold">Subcategories</h2>
                <ul class="mt-4">
                    {% for subcategory in category.subcategories.all %}
                    <li class="text-lg text-gray-800">
                        <a href="{% url 'products:products_by_category' category.id subcategory.id %}">{{ subcategory.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}